<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Generative Worldcup Poster 2018</title>
	<meta name="description" content="an experiment with world cup statistics API and canvas to generate abstract patterns for each game">

	<!-- Schema.org -->
	<meta itemprop="name" content="Generative Worldcup Posters">
	<meta itemprop="url" content="http://zehfernandes.com/generativeworldcup2018/">
	<meta itemprop="image" content="http://zehfernandes.com/generativeworldcup2018/cover.png">
	<meta itemprop="description" content="an experiment with world cup statistics API and canvas to generate abstract patterns for each game.">

	<!-- FACEBOOK -->
	<meta property="og:type" content="app" />
	<meta property="og:title" content="Generative Worldcup Posters" />
	<meta property="og:image" content="http://zehfernandes.com/generativeworldcup2018/cover.png" />
	<meta property="og:image:width " content="2396" />
	<meta property="og:image:height " content="1670" />
	<meta property="og:description " content="an experiment with world cup statistics API and canvas to generate abstract patterns
	 for each game " />

	<!-- TWITTER -->
	<meta name="twitter:card " content="summary_large_image " />
	<meta name="twitter:creator " content="@zehf " />
	<meta name="twitter:title " content="Generative Worldcup Posters " />
	<meta name="twitter:description " content="an experiment with world cup statistics API and canvas to generate abstract
	 patterns for each game " />
	<meta name="twitter:image:src " content="http://zehfernandes.com/generativeworldcup2018/cover.png " />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css " href="css/tachyons.min.css ">
	<style>
		.hover-poster {
			transition: transform 80ms;
		}

		.hover-poster:hover {
			transform: translateY(-3px)
		}

		@media screen and (min-width: 30em) {
			.w-33-ns {
				width: 33.3%;
			}
		}
	</style>
</head>

<body class="bg-near-white helvetica black ">
	<div class="w-90 w-80-ns " style="margin:auto ">
		<header class="pv3 pv5-ns cf w-100 mt3 ">

			<ul class="list fr-ns w-100 w-30-ns ma0 pl0 pb4 ">
				<li class="fr-ns dib pr4 pr0-ns ">
					<a class="link fw5 black hover-red " href="{{htmlWebpackPlugin.options.links.github}} ">Source Code</a>
				</li>
				<li class="fr-ns dib pr4-ns ">
					<a class="link fw5 black hover-red " href="{{htmlWebpackPlugin.options.links.mailto}} ">Buy one</a>
				</li>
			</ul>


			<h2 class="lh-copy fl f4 f3-ns fw4 mb2 w-100 w-70-ns mid-gray pr4 mt0 " style="font-size: 1.7rem; letter-spacing:-0.03rem ">
				<span class="fw7 black ">Generative WorldCup.</span> is an experiment with world cup statistics
				<a href=" "></a>API</a> and
				<span class="bg-moon-gray br2 pa1 ">canvas</span> to generate abstract patterns for each game. After the match, you can check a new poster in the gallery
				below.
			</h2>
		</header>

		<article class="cf w-100 mt4 mt5-ns ">

			<!-- Semi Finals -->
			<ul class="list pa0 mt0 cf dn db-ns ">
				<li class="fl f4 dib w-50 w-20-ns garamond i " style="color: #9B9B9B ">4 Teams</li>
				<li class="fl f4 dib w-50 w-80-ns garamond i pl4 " style="color: #9B9B9B ">2 Posters</li>
			</ul>
			<section class="cf bt bw2 pt2 pt4-ns mb4 mb6-ns " style="margin-top: -0.4rem ">
				<div class="fl w-100 w-20-ns pr0 pr2-ns pb5 f3 f4-ns fw6 ">
					Finals
				</div>

				<div class="fl w-100 w-80-ns pa0 pl3-ns ">
					{{#each htmlWebpackPlugin.options.data.finals}}
					<div class="fl w-100 w-25-ns pl0 pl3-ns pb5 pb3-ns ">
						<a href="{{../htmlWebpackPlugin.options.links.absoluteURL}}{{this.url}} " class="db hover-poster ">
							<img src="images/{{this.file}} " class="w-100 " style="box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 10px 0px; " />
						</a>
					</div>
					{{/each}}
				</div>
			</section>

			<!-- Semi Finals -->
			<ul class="list pa0 mt0 cf dn db-ns ">
				<li class="fl f4 dib w-50 w-20-ns garamond i " style="color: #9B9B9B ">4 Teams</li>
				<li class="fl f4 dib w-50 w-80-ns garamond i pl4 " style="color: #9B9B9B ">2 Posters</li>
			</ul>
			<section class="cf bt bw2 pt2 pt4-ns mb4 mb6-ns " style="margin-top: -0.4rem ">
				<div class="fl w-100 w-20-ns pr0 pr2-ns pb5 f3 f4-ns fw6 ">
					Semi Finals
				</div>

				<div class="fl w-100 w-80-ns pa0 pl3-ns ">
					{{#each htmlWebpackPlugin.options.data.semi_finals}}
					<div class="fl w-100 w-25-ns pl0 pl3-ns pb5 pb3-ns ">
						<a href="{{../htmlWebpackPlugin.options.links.absoluteURL}}{{this.url}} " class="db hover-poster ">
							<img src="images/{{this.file}} " class="w-100 " style="box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 10px 0px; " />
						</a>
					</div>
					{{/each}}
				</div>
			</section>

			<!-- Quarters Finals -->
			<ul class="list pa0 mt0 cf dn db-ns ">
				<li class="fl f4 dib w-50 w-20-ns garamond i " style="color: #9B9B9B ">8 Teams</li>
				<li class="fl f4 dib w-50 w-80-ns garamond i pl4 " style="color: #9B9B9B ">4 Posters</li>
			</ul>
			<section class="cf bt bw2 pt2 pt4-ns mb4 mb6-ns " style="margin-top: -0.4rem ">
				<div class="fl w-100 w-20-ns pr0 pr2-ns pb5 f3 f4-ns fw6 ">
					Quarter Finals
				</div>

				<div class="fl w-100 w-80-ns pa0 pl3-ns ">
					{{#each htmlWebpackPlugin.options.data.quarter_finals}}
					<div class="fl w-100 w-25-ns pl0 pl3-ns pb5 pb3-ns ">
						<a href="{{../htmlWebpackPlugin.options.links.absoluteURL}}{{this.url}} " class="db hover-poster ">
							<img src="images/{{this.file}} " class="w-100 " style="box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 10px 0px; " />
						</a>
					</div>
					{{/each}}
				</div>
			</section>

			<!-- Round of 16 -->
			<ul class="list pa0 mt0 cf dn db-ns ">
				<li class="fl f4 dib w-50 w-20-ns garamond i " style="color: #9B9B9B ">16 Teams</li>
				<li class="fl f4 dib w-50 w-80-ns garamond i pl4 " style="color: #9B9B9B ">8 Posters</li>
			</ul>
			<section class="cf bt bw2 pt2 pt4-ns mb4 mb6-ns " style="margin-top: -0.4rem ">
				<div class="fl w-100 w-20-ns pr0 pr2-ns pb5 f3 f4-ns fw6 ">
					Round of 16
				</div>

				<div class="fl w-100 w-80-ns pa0 pl3-ns ">
					{{#each htmlWebpackPlugin.options.data.round_of_16}}
					<div class="fl w-100 w-25-ns pl0 pl3-ns pb5 pb3-ns ">
						<a href="{{../htmlWebpackPlugin.options.links.absoluteURL}}{{this.url}} " class="db hover-poster ">
							<img src="images/{{this.file}} " class="w-100 " style="box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 10px 0px; " />
						</a>
					</div>
					{{/each}}
				</div>
			</section>

			<!-- First Stage -->
			<ul class="list pa0 mt0 cf dn db-ns ">
				<li class="fl f4 dib w-50 w-20-ns garamond i " style="color: #9B9B9B ">32 Teams</li>
				<li class="fl f4 dib w-50 w-80-ns garamond i pl4 " style="color: #9B9B9B ">48 Posters</li>
			</ul>
			<section class="cf bt bw2 pt2 pt4-ns " style="margin-top: -0.4rem ">
				<div class="fl w-100 w-20-ns pr0 pr2-ns pb5 f3 f4-ns fw6 ">
					First Stage
				</div>

				<div class="fl w-100 w-80-ns pa0 pl3-ns ">
					{{#each htmlWebpackPlugin.options.data.first_stage}}
					<div class="fl w-100 w-25-ns pl0 pl3-ns pb5 pb3-ns ">
						<a href="{{../htmlWebpackPlugin.options.links.absoluteURL}}{{this.url}} " class="db hover-poster ">
							<img src="images/{{this.file}} " class="w-100 " style="box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 10px 0px; " />
						</a>
					</div>
					{{/each}}
				</div>
			</section>

		</article>

	</div>
</body>

<script>
	var _gaq = [['_setAccount', 'UA-4721824-10'], ['_trackPageview']];
	(function (d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s)
	}(document, 'script'));
</script>

</html>